{% extends 'job-seeker-home.html' %}
{% load staticfiles %}

{% block navbar %}
    <ul id="responsive">
        {% include 'job-seeker-urls.html' %}
    </ul>
{% endblock %}


{% block titlebar-text %}
<h2> <i class="fa fa-search"></i> جست‌وجوی کار</h2>
{% endblock %}

{% block content %}

<!-- Content
================================================== -->
<div class="container">
	<!-- Recent Jobs -->
	<div class="eleven columns">
	<div class="padding-right">

        <div class="search-page">


        <form action="{% url "browse-jobs" %}" method="get" id="job-search-form">
            <div class="form">
                <h5>شهر</h5>
                <input type="text" name="city" value=""/>
            </div>
            <div class="form">
                <div class="select">
                    <h5>مهارت‌ها</h5>
                    <select data-placeholder="انتخاب مهارت‌ها"  name="skills" class="multiselect"  style="width: 100%" multiple="multiple">
                        {%  for choice in search_form.skills.field.queryset %}
                            <option value="{{ choice.id }}">{{ choice.name }}</option>
                        {%  endfor %}
                    </select>
                </div>
            </div>

			<a href="#" onclick="document.getElementById('job-search-form').submit(); return false;" class="button big margin-top-5"> <i class="fa fa-search"></i> جستجو</a>
		</form>
        </div>

		<ul class="job-list full">
            {% for adv in advs %}
                <li><a href="{% url 'job'  %}?advertise_id={{ adv.id }}" >
                    <div class="job-list-content">
{#                        TODO: hanlde class (full-time, part time, ...)  #}
                        <h4>{{ adv.employer.company_name }} <span class="full-time">تمام‌وقت</span></h4>
                        <div class="job-icons">
                            <span><i class="fa fa-briefcase"></i> {{ adv.employer.company_name }}</span>
                            <span><i class="fa fa-map-marker"></i>  {{ adv.city }} </span>
                            <span><i class="fa fa-money"></i> ۳۰۰ تومان/ساعت</span>
                        </div>
                        {{ adv.description }}
                        <!-- <p>The SEO/SEM Specialist will work with industry leaders and top retailers to define and deliver best practices through innovative SEO methodologies.</p> -->
                    </div>
                    </a>
                    <div class="clearfix"></div>
                </li>
            {% endfor %}
		</ul>
		<div class="clearfix"></div>

		<div class="pagination-container">
			<nav class="pagination">
				<ul>
					<li><a href="#" class="current-page">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li class="blank">...</li>
					<li><a href="#">22</a></li>
				</ul>
			</nav>

			<nav class="pagination-next-prev">
				<ul>
					<li><a href="#" class="prev">قبلی</a></li>
					<li><a href="#" class="next">بعدی</a></li>
				</ul>
			</nav>
		</div>

	</div>
	</div>


	<!-- Widgets -->
	<div class="five columns">

		<!-- Sort by -->
		<div class="widget">
			<h4>مرتب کردن بر اساس:</h4>

			<!-- Select -->
			<select data-placeholder="Choose Category" class="chosen-select-no-single">
				<option selected="selected" value="recent">آخرین</option>
				<option value="oldest">اولین</option>
				<option value="expiry">نزدیک‌ترین مهلت اتمام</option>
				<option value="ratehigh">بیش‌ترین دستمزد بر زمان</option>
				<option value="ratelow">کمترین دستمزد بر زمان</option>
			</select>

		</div>

		<!-- Location -->
		<!-- <div class="widget">
			<h4>Location</h4>
			<form action="#" method="get">
				<input type="text" placeholder="State / Province" value=""/>
				<input type="text" placeholder="City" value=""/>

				<input type="text" class="miles" placeholder="Miles" value=""/>
				<label for="zip-code" class="from">from</label>
				<input type="text" id="zip-code" class="zip-code" placeholder="Zip-Code" value=""/><br>

				<button class="button">Filter</button>
			</form>
		</div> -->

		<!-- Job Type -->
		<div class="widget">
			<h4></h4>

			<ul class="checkboxes">
				<li>
					<input id="check-1" type="checkbox" name="check" value="check-1" checked>
					<label for="check-1">همه موارد</label>
				</li>
				<li>
					<input id="check-2" type="checkbox" name="check" value="check-2">
					<label for="check-2">تمام‌وقت <span>(۳۲)</span></label>
				</li>
				<li>
					<input id="check-3" type="checkbox" name="check" value="check-3">
					<label for="check-3">نیمه‌وقت <span>(۸۰)</span></label>
				</li>
				<li>
					<input id="check-4" type="checkbox" name="check" value="check-4">
					<label for="check-4">کارآموزی <span>(۲۵)</span></label>
				</li>
				<li>
					<input id="check-5" type="checkbox" name="check" value="check-5">
					<label for="check-5">آزاد <span>(۴۶)</span></label>
				</li>
			</ul>

		</div>

		<!-- Rate/Hr -->
		<div class="widget">
				<h4>دستمزد بر ساعت</h4>
	
				<ul class="checkboxes">
					<li>
						<input id="check-6" type="checkbox" name="check" value="check-6" checked>
						<label for="check-6">تمام گزینه‌ها</label>
					</li>
					<li>
						<input id="check-7" type="checkbox" name="check" value="check-7">
						<label for="check-7"> ۰ تا ۱۰۰ تومان <span>(۱۲)</span></label>
					</li>
					<li>
						<input id="check-8" type="checkbox" name="check" value="check-8">
						<label for="check-8"> ۱۰۰ تا ۲۰۰ تومان <span>(۲۵)</span></label>
					</li>
					<li>
						<input id="check-9" type="checkbox" name="check" value="check-9">
						<label for="check-9">۲۰۰ تا ۳۰۰ تومان <span>(۸)</span></label>
					</li>
					<li>
						<input id="check-10" type="checkbox" name="check" value="check-10">
						<label for="check-10">۳۰۰ تا ۴۰۰ تومان <span>(۴)</span></label>
					</li>
					<li>
						<input id="check-11" type="checkbox" name="check" value="check-11">
						<label for="check-11">۴۰۰ تومان <span>(۵)</span></label>
					</li>
				</ul>
	
			</div>



	</div>
	<!-- Widgets / End -->


</div>

{% endblock %}