{% load staticfiles %}

<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">

    <title>
        {% block title %}
            شریف‌کار - کارجوهای پیشنهادی
        {% endblock %}
    </title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/colors/green.css" %}" id="colors">

    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
<div id="wrapper">


    <!-- Header
    ================================================== -->
    <header>
        <div class="container">
            <div class="sixteen columns">

                <!-- Logo -->
                <div id="logo">
                    <h1><a href="{% url 'home' %}"><img src="{% static "images/logo.png" %}"
                                                                 alt="شریف‌کار"/></a></h1>
                </div>

                <!-- Menu -->
                <nav id="navigation" class="menu">
                    {% block navbar %}
                        <ul id="responsive">
                            {% include 'employer-urls.html' %}
                        </ul>
                    {% endblock %}
                </nav>

                <!-- Navigation -->
                <div id="mobile-navigation">
                    <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> منو</a>
                </div>

            </div>
        </div>
    </header>
    <div class="clearfix"></div>

    <!-- Titlebar
    ================================================== -->
    {% block titlebar %}
        <div id="titlebar" class="single">
            <div class="container">

                <div class="sixteen columns">
                    {% block titlebar-text %}
                        <h2>خانه - کارجوهای پیشنهادی</h2>
                    {% endblock %}
                </div>

            </div>
        </div>
    {% endblock %}

    {% block content %}

        <!-- Pricing Tables
        ================================================== -->

        <!-- Container / Start -->
        <div class="container">

            <!--<div class="sixteen columns">-->
            <!--<div class="notification notice margin-bottom-30">-->
            <!--<p>Below are examples of four and three columns of pricing tables, but you can easily have as many columns as you want.</p>-->
            <!--</div>-->
            <!--</div>-->


            <!-- Container / Start -->
            <div class="container">
                <!-- Plan #1 -->
                {% if success is not None %}
                    <div id='successNotification' class="notification success closeable">
                        <p><span>موفقیت!</span> {{ success }}</p>
                        <a class="close" onclick="document.getElementById('successNotification').style.display='none';">&times;</a>
                    </div>
                {% endif %}
                <div class="plan color-1 one-third column">
                    <div class="plan-price user-suggest">
                        <img src="images/resumes-list-avatar-01.png" alt="">
                        <h4>محمد محمدی </h4>
                    </div>
                    <div class="plan-features">
                        <ul>
                            <li><span>طراح گرافیکی UI/UX</span></li>
                            <li><span><i class="fa fa-map-marker"></i> تهران</span></li>
                            <li><span><i class="fa fa-money"></i> ۲۱۵ تومان/ساعت</span></li>
                        </ul>
                    </div>
                </div>

                <div class="plan color-1 one-third column">
                    <div class="plan-price user-suggest">
                        <img src="images/resumes-list-avatar-01.png" alt="">
                        <h4>محمد محمدی </h4>
                    </div>
                    <div class="plan-features">
                        <ul>
                            <li><span>طراح گرافیکی UI/UX</span></li>
                            <li><span><i class="fa fa-map-marker"></i> تهران</span></li>
                            <li><span><i class="fa fa-money"></i> ۲۱۵ تومان/ساعت</span></li>
                        </ul>
                    </div>
                </div>


                <div class="plan color-1 one-third column">
                    <div class="plan-price user-suggest">
                        <img src="images/resumes-list-avatar-01.png" alt="">
                        <h4>محمد محمدی </h4>
                    </div>
                    <div class="plan-features">
                        <ul>
                            <li><span>طراح گرافیکی UI/UX</span></li>
                            <li><span><i class="fa fa-map-marker"></i> تهران</span></li>
                            <li><span><i class="fa fa-money"></i> ۲۱۵ تومان/ساعت</span></li>
                        </ul>
                    </div>
                </div>

                <div class="plan color-1 one-third column">
                    <div class="plan-price user-suggest">
                        <img src="images/resumes-list-avatar-01.png" alt="">
                        <h4>محمد محمدی </h4>
                    </div>
                    <div class="plan-features">
                        <ul>
                            <li><span>طراح گرافیکی UI/UX</span></li>
                            <li><span><i class="fa fa-map-marker"></i> تهران</span></li>
                            <li><span><i class="fa fa-money"></i> ۲۱۵ تومان/ساعت</span></li>
                        </ul>
                    </div>
                </div>


                <div class="plan color-1 one-third column">
                    <div class="plan-price user-suggest">
                        <img src="images/resumes-list-avatar-01.png" alt="">
                        <h4>محمد محمدی </h4>
                    </div>
                    <div class="plan-features">
                        <ul>
                            <li><span>طراح گرافیکی UI/UX</span></li>
                            <li><span><i class="fa fa-map-marker"></i> تهران</span></li>
                            <li><span><i class="fa fa-money"></i> ۲۱۵ تومان/ساعت</span></li>
                        </ul>
                    </div>
                </div>


                <div class="plan color-1 one-third column">
                    <div class="plan-price user-suggest">
                        <img src="images/resumes-list-avatar-01.png" alt="">
                        <h4>محمد محمدی </h4>
                    </div>
                    <div class="plan-features">
                        <ul>
                            <li><span>طراح گرافیکی UI/UX</span></li>
                            <li><span><i class="fa fa-map-marker"></i> تهران</span></li>
                            <li><span><i class="fa fa-money"></i> ۲۱۵ تومان/ساعت</span></li>
                        </ul>
                    </div>
                </div>


            </div>
            <!-- Container / End -->

            <br>
            <br>


        </div>
        <!-- Container / End -->

    {% endblock %}


    <!-- Footer
    ================================================== -->
    <div class="margin-top-10"></div>

    <div id="footer">
        <!-- Bottom -->
        <div class="container">
            <div class="footer-bottom">
                <div class="sixteen columns">
                    <div class="copyrights"> کلیه‌ی حقوق این سایت متعلق به سامانه‌ی <a href="#">شریف‌کار </a>است. © ۱۳۹۷
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->

<!-- Scripts
================================================== -->
<script src="scripts/jquery-2.1.3.min.js"></script>
<script src="scripts/custom.js"></script>
<script src="scripts/jquery.superfish.js"></script>
<script src="scripts/jquery.themepunch.tools.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/chosen.jquery.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/stacktable.js"></script>


</body>
</html>