{% extends 'index.html' %}

{% block title %}
    شریف‌کار - پروفایل
{% endblock %}

{% block titlebar %}

{% endblock %}

{% block navbar %}
    {% include 'shared-urls.html' %}
{% endblock %}

{% block content %}


    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="resume">
        <div class="container">
            <div class="ten columns">
                <div class="resume-titlebar">
                    <img src="images/resumes-list-avatar-01.png" alt="">
                    <div class="resumes-list-content">
                        {#                    TODO: khosoosi ya omoomisho ba company_type okay konim #}
                        <h4> {{ profile.company_name }} <span>شرکت خصوصی</span></h4>
                        <span class="icons"><i class="fa fa-map-marker"></i> {{ profile.city }} </span>
                        <span class="icons"><a href="{{ profile.homepage }}"><i
                                class="fa fa-link"></i> وب‌سایت</a></span>
                        <span class="icons"><a href="mailto:{{ profile.user.username }}"><i
                                class="fa fa-envelope"></i> {{ profile.user.username }} </a></span>
                        <span class="icons">
                        <div class="rating four-stars">
                            <div class="star-rating"></div>
                            <div class="star-bg"></div>
                        </div>
                    </span>

                        <div class="show-transactions">
                            <span class="icons"><a href="employer-transactions.html"><i class="fa fa-file-text"></i> نمایش تراکنش‌ها</a></span>
                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>


    <!-- Content
    ================================================== -->
    <div class="container">
        <!-- Recent Jobs -->
        <div class="padding-right">

            <h3 class="margin-bottom-15">درباره‌ی کسب و کار</h3>

            <p class="margin-reset">
                {{ profile.company_disc }}
                {#			  فروشگاه اینترنتی دیجیکالا از پیشروان تجارت الکتریک در ایران است. این شرکت با بیش از ۲ هزار نیرو روزانه به بیش از ۳۰ هزار سفارش پاسخ می‌دهد. ما در دیجیکالا منتظر شما دوستان مستعد شریفی هستیم :)#}
            </p>

        <br>
        <br>

            <h3 class="margin-bottom-15">موقعیت‌های شغلی</h3>

            <ul class="job-list full">
                {% for adv in profile.advertise_set.all %}
                    <li><a href="job-page.html">
                        <img src="images/job-list-logo-01.png" alt="">
                        <div class="job-list-content">
                            {#                        # TODO: #}
                            <h4> {{ adv.title }} <span class="full-time">تمام‌وقت</span></h4>
                            <div class="job-icons">
                                <span><i class="fa fa-briefcase"></i> {{ profile.company_name }}</span>
                                <span><i class="fa fa-map-marker"></i> {{ adv.address }}</span>
                                <span><i class="fa fa-money"></i> ۳۰۰ تومان/ساعت</span>
                            </div>
                            <br>
                            {{ adv.description }}
                        </div>
                    </a>
                        <div class="clearfix"></div>
                    </li>
                {% endfor %}
            </ul>

            <h3 class="margin-bottom-15">نظرات کارکنان</h3>

            <ul class="resumes-list">
                {% for comment in profile.comment_set.all %}
                    <li><a href="job-seeker-profile.html">
                        <img src="images/resumes-list-avatar-01.png" alt="">
                        <div class="resumes-list-content">
                            <h4> {{ comment.job_seeker.first_name }} <span> {{ comment.job_seeker.title }}</span></h4>
                            <p> {{ comment.description }} </p>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                        <div class="clearfix"></div>
                    </li>
                {% endfor %}

                {#			<li><a href="job-seeker-profile.html">#}
                {#				<img src="images/avatar-placeholder.png" alt="">#}
                {#				<div class="resumes-list-content">#}
                {#					<h4>مهدی مهدوی <span>توسعه‌دهنده‌ی iOS </span></h4>#}
                {#					<p>پرتقال‌دان یات‌دان می‌دن</p>#}
                {##}
                {#					<div class="clearfix"></div>#}
                {##}
                {#				</div>#}
                {#			</a>#}
                {#				<div class="clearfix"></div>#}
                {#			</li>#}
            </ul>

            {% if request.user.is_jobseeker %}
                <h4 class="margin-bottom-15">نظر دهید:</h4>
                {% if success is not None %}
                    <div id="successNotification" class="notification success closeable">
                        <p><span>موفقیت!</span> {{ success }}</p>
                        <a class="close" onclick="document.getElementById('successNotification').style.display='none';">&times;</a>
                    </div>
                {% endif %}

                {% if errors is not None %}
                    <div id="errorNotification" class="notification error closeable">
                        <p><span>خطا!</span> {{ errors }}</p>
                        <a class="close" onclick="document.getElementById('errorNotification').style.display='none';">&times;</a>
                    </div>
                {% endif %}
                <div class="submit-page">
                    <div class="form">
                        <form method="post" id="commentsForm"
                              action="{% url 'comment' %}?user_id={{ profile.user_id }}">
                            {% csrf_token %}
{#                            <h5>موقعیت شغلی شما</h5>#}
{#                            <input name="job_position" class="search-field" type="text" placeholder="موقعیت شغلی شما" value=""/>#}
                            <h5>امتیاز شما</h5>
                            <div class="select-grid">
                                <input name="rate" type="number" min="1" max="5" placeholder="امتیاز (از ۵)"
                                       value="{{ before.rate }}">
                            </div>
                            <label for="summary">نظر شما</label>
                            <textarea class="WYSIWYG" name="description" cols="40" rows="3" id="summary"
                                      spellcheck="true">{{ before.description }}</textarea>
                            <a href="#" class="button big margin-top-5"
                               onclick="document.getElementById('commentsForm').submit(); "> <i
                                    class="fa fa-arrow-circle-left"></i>ارسال</a>
                        </form>
                    </div>
                </div>
            {% endif %}

        </div>


    </div>


    <!-- Footer
    ================================================== -->
    <div class="margin-top-45"></div>

    <div id="footer">
        <!-- Bottom -->
        <div class="container">
            <div class="footer-bottom">
                <div class="sixteen columns">
                    <div class="copyrights"> کلیه‌ی حقوق این سایت متعلق به سامانه‌ی <a href="#">شریف‌کار </a>است. © ۱۳۹۷
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}