{% extends 'employer-home.html' %}

<title>شریف‌کار - افزودن آگهی</title>


{% block title %}
    شریف‌کار - افزودن آگهی
{% endblock %}

{% block titlebar-text %}
    <h2><i class="fa fa-plus-circle"></i> افزودن آگهی</h2>
{% endblock %}

{% block content %}


    <!-- Content
    ================================================== -->
    <div class="container">

        <!-- Submit Page -->
        <div class="sixteen columns">
            <div class="submit-page">

{#                <!-- Notice -->#}
                {% if success is not None %}
                    <div class="notification success closeable">
                        <p><span>موفقیت!</span> {{ success }}</p>
                        <a class="close" href="#"></a>
                    </div>
                {% endif %}
                {% if errors is not None %}
                    <div class="notification error closeable">
                        <p><span>خطا!</span> {{ errors }}</p>
                        <a class="close" href="#"></a>
                    </div>
                {% endif %}

                <!-- Email -->
                {#			<div class="form">#}
                {#				<h5>ایمیل</h5>#}
                {#				<input class="search-field" dir ="ltr" type="text" placeholder="mail@example.com" value=""/>#}
                {#			</div>#}

                <form id="job_form" method="post" class="register" action={% url 'add-job' %}>
                    {% csrf_token %}


                    <!-- Title -->
                    <div class="form">
                        <h5>عنوان کار</h5>
                        <input class="search-field" name="title" type="text" placeholder="" value="{{ before.title }}"/>
                    </div>

                    <!-- Location -->
                    <div class="form">
                        <h5>مکان <span>(اختیاری)</span></h5>
                        <input class="search-field" name="address" type="text"
                               placeholder="مثال: تهران، خیابان آزادی، روبروی دانشگاه شریف" value="{{ before.address }}"/>
                        <!-- <p class="note">Leave this blank if the location is not important</p> -->
                    </div>

                    <!-- TODO: add location -->

                    <!-- Job Type -->
                    <div class="form">
                        <h5>نوع شغل</h5>
                        <select name="type" data-placeholder="تمام‌وقت" class="chosen-select-no-single">
                            {% if before.type == 'F' %}
                                <option value="F" selected="selected">تمام‌وقت</option>
                                {% else %}
                                <option value="F">تمام‌وقت</option>
                            {% endif %}
                            {% if before.type == 'P' %}
                                <option value="P" selected="selected">نیمه‌وقت</option>
                                {% else %}
                                <option value="P">نیمه‌وقت</option>
                            {% endif %}
                            {% if before.type == 'I' %}
                                <option value="I" selected="selected">کارآموزی</option>
                                {% else %}
                                <option value="I">کارآموزی</option>
                            {% endif %}
                            {% if before.type == 'L' %}
                                <option value="L" selected="selected">آزاد</option>
                                {% else %}
                                <option value="L">آزاد</option>
                            {% endif %}
                        </select>
                    </div>


                    <!-- Choose Category -->
                    <div class="form">
                        <div class="select">
                            <h5>دسته‌بندی</h5>
                            <select name="category" data-placeholder="  انتخاب دسته‌بندی‌ " class="chosen-select"
                                    multiple>
                                <option value="WEB_DEV">توسعه‌دهنده‌ی وب</option>
                                <option value="MOBILE_DEV">توسعه‌دهنده‌ی اپلیکیشن موبایل</option>
                                <option value="APP_DESIGN">طراحی اپلیکیشن</option>
                                <option value="PROJECT_MANAGEMENT">مدیریت پروژه</option>
                                <option value="MARKETING">بازاریابی</option>
                            </select>
                        </div>
                    </div>

                    <!-- Tags -->
                    <div class="form">
                        <h5>تگ‌ها <span>(اختیاری)</span></h5>
                        <input class="search-field" type="text" placeholder="،مثال: مدیریت، آموزش Django" value=""/>
                        <p class="note">تگ‌ها را با علامت کاما جدا نمایید. مانند مهارت‌های مورد نیاز و یا تکنولوژی‌های
                            لازم برای این کار.</p>
                    </div>


                    <!-- Description -->
                    <div class="form">
                        <h5>توضیحات</h5>
                        <textarea name="description" class="WYSIWYG" name="summary" cols="40" rows="3" id="summary"
                                  spellcheck="true"></textarea>
                    </div>

                    <!-- Application email/url -->
                    <!-- <div class="form">
                        <h5>ایمیل یا سابت کارفرما</h5>
                        <input type="text" placeholder="Enter an email address or website URL">
                    </div> -->

                    <!-- TClosing Date -->
                    <div class="form">
                        <h5>تاریخ اتمام <span>(اختیاری)</span></h5>
                        <input name="deadline" data-role="date" type="text" placeholder="yyyy-mm-dd">
                        <p class="note">ددلاین اقدام برای این شفل</p>
                    </div>

                    <!--

                                <div class="divider"><h3>Company Details</h3></div>


                                <div class="form">
                                    <h5>Company Name</h5>
                                    <input type="text" placeholder="Enter the name of the company">
                                </div>


                                <div class="form">
                                    <h5>Website <span>(optional)</span></h5>
                                    <input type="text" placeholder="http://">
                                </div>


                                <div class="form">
                                    <h5>Tagline <span>(optional)</span></h5>
                                    <input type="text" placeholder="Briefly describe your company">
                                </div>


                                <div class="form">
                                    <h5>Video <span>(optional)</span></h5>
                                    <input type="text" placeholder="A link to a video about your company">
                                </div>


                                <div class="form">
                                    <h5>Twitter Username <span>(optional)</span></h5>
                                    <input type="text" placeholder="@yourcompany">
                                </div>


                                <div class="form">
                                    <h5>Logo <span>(optional)</span></h5>
                                    <label class="upload-btn">
                                        <input type="file" multiple />
                                        <i class="fa fa-upload"></i> Browse
                                    </label>
                                    <span class="fake-input">No file selected</span>
                                </div> -->


                    <div class="divider margin-top-0"></div>
                    <a href="javascript:{}" class="button big margin-top-5"
                       onclick="document.getElementById('job_form').submit(); return false;"> <i
                            class="fa fa-arrow-circle-left"></i> افزودن </a>
                </form>

            </div>
        </div>

    </div>

{% endblock %}