{% extends 'index.html' %}
{% load staticfiles %}


{% block styles %}
    <link href="{%  static "css/select2.css" %}" rel="stylesheet" />
{% endblock %}

{% block navbar %}
    <ul id="responsive">
        {% include 'job-seeker-urls.html' %}
    </ul>
{% endblock %}


{% block titlebar %}
    <div id="titlebar" class="single">
        <div class="container">

            <div class="sixteen columns">
                {% block titlebar-text %}
                    <h2>خانه</h2>
                {% endblock %}
            </div>

        </div>
    </div>
{% endblock %}

{% block content %}

    <!-- Pricing Tables
    ================================================== -->

    <!-- Container / Start -->
    <div class="container">

        <!--<div class="sixteen columns">-->
        <!--<div class="notification notice margin-bottom-30">-->
        <!--<p>Below are examples of four and three columns of pricing tables, but you can easily have as many columns as you want.</p>-->
        <!--</div>-->
        <!--</div>-->

        {% if success is not None %}
            <div class="notification success closeable">
                <p><span>موفقیت!</span> {{ success }}</p>
                <a class="close" href="#"></a>
            </div>
        {% endif %}

        <h3 class="margin-bottom-15"> کارهای پیشنهادی</h3>


        <!-- Container / Start -->
        <div class="container">
            <!-- Plan #1 -->

            <div class="plan color-1 four columns">
                <div class="plan-price">
                    <h3>
                        <a href="job-page.html">مدیر فرآیند</a>
                    </h3>
                </div>
                <div class="plan-features">
                    <ul>
                        <li>
                            <div class="suggest-type">
                                <span class="full-time">تمام‌وقت</span>
                            </div>
                        </li>

                        <li><span><a href="employer-profile.html"><i
                                class="fa fa-briefcase"></i> دیجی‌کالا</a></span></li>
                        <li><span><i class="fa fa-map-marker"></i> تهران</span></li>
                        <li><span><i class="fa fa-money"></i> ۲۱۵ تومان/ساعت</span></li>


                    </ul>
                </div>
            </div>

            <!-- Plan #2 -->
            <div class="plan color-1 four columns">
                <div class="plan-price">
                    <h3>
                        <a href="job-page.html">مدیر فرآیند</a>
                    </h3>
                </div>
                <div class="plan-features">
                    <ul>
                        <li>
                            <div class="suggest-type">
                                <span class="full-time">تمام‌وقت</span>
                            </div>
                        </li>

                        <li><span><a href="employer-profile.html"><i
                                class="fa fa-briefcase"></i> دیجی‌کالا</a></span></li>
                        <li><span><i class="fa fa-map-marker"></i> تهران</span></li>
                        <li><span><i class="fa fa-money"></i> ۲۱۵ تومان/ساعت</span></li>


                    </ul>
                </div>
            </div>

            <!-- Plan #3 -->
            <div class="plan color-1 four columns">
                <div class="plan-price">
                    <h3>
                        <a href="job-page.html">مدیر فرآیند</a>
                    </h3>
                </div>
                <div class="plan-features">
                    <ul>
                        <li>
                            <div class="suggest-type">
                                <span class="full-time">تمام‌وقت</span>
                            </div>
                        </li>

                        <li><span><a href="employer-profile.html"><i
                                class="fa fa-briefcase"></i> دیجی‌کالا</a></span></li>
                        <li><span><i class="fa fa-map-marker"></i> تهران</span></li>
                        <li><span><i class="fa fa-money"></i> ۲۱۵ تومان/ساعت</span></li>


                    </ul>
                </div>
            </div>

            <div class="plan color-1 four columns">
                <div class="plan-price">
                    <h3>
                        <a href="job-page.html">مدیر فرآیند</a>
                    </h3>
                </div>
                <div class="plan-features">
                    <ul>
                        <li>
                            <div class="suggest-type">
                                <span class="full-time">تمام‌وقت</span>
                            </div>
                        </li>

                        <li><span><a href="employer-profile.html"><i
                                class="fa fa-briefcase"></i> دیجی‌کالا</a></span></li>
                        <li><span><i class="fa fa-map-marker"></i> تهران</span></li>
                        <li><span><i class="fa fa-money"></i> ۲۱۵ تومان/ساعت</span></li>


                    </ul>
                </div>
            </div>

            <div class="plan color-1 four columns">
                <div class="plan-price">
                    <h3>
                        <a href="job-page.html">مدیر فرآیند</a>
                    </h3>
                </div>
                <div class="plan-features">
                    <ul>
                        <li>
                            <div class="suggest-type">
                                <span class="full-time">تمام‌وقت</span>
                            </div>
                        </li>

                        <li><span><a href="employer-profile.html"><i
                                class="fa fa-briefcase"></i> دیجی‌کالا</a></span></li>
                        <li><span><i class="fa fa-map-marker"></i> تهران</span></li>
                        <li><span><i class="fa fa-money"></i> ۲۱۵ تومان/ساعت</span></li>


                    </ul>
                </div>
            </div>

            <div class="plan color-1 four columns">
                <div class="plan-price">
                    <h3>
                        <a href="job-page.html">مدیر فرآیند</a>
                    </h3>
                </div>
                <div class="plan-features">
                    <ul>
                        <li>
                            <div class="suggest-type">
                                <span class="full-time">تمام‌وقت</span>
                            </div>
                        </li>

                        <li><span><a href="employer-profile.html"><i
                                class="fa fa-briefcase"></i> دیجی‌کالا</a></span></li>
                        <li><span><i class="fa fa-map-marker"></i> تهران</span></li>
                        <li><span><i class="fa fa-money"></i> ۲۱۵ تومان/ساعت</span></li>


                    </ul>
                </div>
            </div>

            <div class="plan color-1 four columns">
                <div class="plan-price">
                    <h3>
                        <a href="job-page.html">مدیر فرآیند</a>
                    </h3>
                </div>
                <div class="plan-features">
                    <ul>
                        <li>
                            <div class="suggest-type">
                                <span class="full-time">تمام‌وقت</span>
                            </div>
                        </li>

                        <li><span><a href="employer-profile.html"><i
                                class="fa fa-briefcase"></i> دیجی‌کالا</a></span></li>
                        <li><span><i class="fa fa-map-marker"></i> تهران</span></li>
                        <li><span><i class="fa fa-money"></i> ۲۱۵ تومان/ساعت</span></li>


                    </ul>
                </div>
            </div>

            <div class="plan color-1 four columns">
                <div class="plan-price">
                    <h3>
                        <a href="job-page.html">مدیر فرآیند</a>
                    </h3>
                </div>
                <div class="plan-features">
                    <ul>
                        <li>
                            <div class="suggest-type">
                                <span class="full-time">تمام‌وقت</span>
                            </div>
                        </li>

                        <li><span><a href="employer-profile.html"><i
                                class="fa fa-briefcase"></i> دیجی‌کالا</a></span></li>
                        <li><span><i class="fa fa-map-marker"></i> تهران</span></li>
                        <li><span><i class="fa fa-money"></i> ۲۱۵ تومان/ساعت</span></li>


                    </ul>
                </div>
            </div>


        </div>
        <!-- Container / End -->

        <h3 class="margin-bottom-15"> علاقه‌مندی‌ها</h3>

        <!-- Recent Jobs -->

        <ul class="job-list full">

            <li>
                <div class="favorite">

                    <div class="favorite-job">
                        <a href="job-page-alt.html">
                            <img src="images/job-list-logo-05.png" alt="">
                            <div class="job-list-content">
                                <h4>توسعه‌دهنده‌ی اپلیکیشن iOS <span class="temporary">موقتی</span></h4>
                                <div class="job-icons">
                                    <span><i class="fa fa-briefcase"></i> دیجی‌کالا</span>
                                    <span><i class="fa fa-map-marker"></i> تهران</span>
                                    <span><i class="fa fa-money"></i> ۲۱۵ تومان/ساعت</span>
                                </div>
                                <!-- <p>Sodales mollis metus eget egestas. Duis sit amet sem pretium, facilisis libero ut, lobortis arcu. Cras ipsum libero, suscipit ut nisl vitae, commodo pretium mauris.</p> -->
                            </div>
                        </a>
                    </div>

                    <div class="favorite-delete">
                        <a href="#" class="delete"><i class="fa fa-remove"></i> حذف</a>
                    </div>

                </div>

                <div class="clearfix"></div>
            </li>

            <li>
                <div class="favorite">

                    <div class="favorite-job">
                        <a href="job-page-alt.html">
                            <img src="images/job-list-logo-05.png" alt="">
                            <div class="job-list-content">
                                <h4>توسعه‌دهنده‌ی اپلیکیشن iOS <span class="temporary">موقتی</span></h4>
                                <div class="job-icons">
                                    <span><i class="fa fa-briefcase"></i> دیجی‌کالا</span>
                                    <span><i class="fa fa-map-marker"></i> تهران</span>
                                    <span><i class="fa fa-money"></i> ۲۱۵ تومان/ساعت</span>
                                </div>
                                <!-- <p>Sodales mollis metus eget egestas. Duis sit amet sem pretium, facilisis libero ut, lobortis arcu. Cras ipsum libero, suscipit ut nisl vitae, commodo pretium mauris.</p> -->
                            </div>
                        </a>
                    </div>

                    <div class="favorite-delete">
                        <a href="#" class="delete"><i class="fa fa-remove"></i> حذف</a>
                    </div>

                </div>

                <div class="clearfix"></div>
            </li>

            <li>
                <div class="favorite">

                    <div class="favorite-job">
                        <a href="job-page-alt.html">
                            <img src="images/job-list-logo-05.png" alt="">
                            <div class="job-list-content">
                                <h4>توسعه‌دهنده‌ی اپلیکیشن iOS <span class="temporary">موقتی</span></h4>
                                <div class="job-icons">
                                    <span><i class="fa fa-briefcase"></i> دیجی‌کالا</span>
                                    <span><i class="fa fa-map-marker"></i> تهران</span>
                                    <span><i class="fa fa-money"></i> ۲۱۵ تومان/ساعت</span>
                                </div>
                                <!-- <p>Sodales mollis metus eget egestas. Duis sit amet sem pretium, facilisis libero ut, lobortis arcu. Cras ipsum libero, suscipit ut nisl vitae, commodo pretium mauris.</p> -->
                            </div>
                        </a>
                    </div>

                    <div class="favorite-delete">
                        <a href="#" class="delete"><i class="fa fa-remove"></i> حذف</a>
                    </div>

                </div>

                <div class="clearfix"></div>
            </li>


        </ul>
        <div class="clearfix"></div>

        <div class="pagination-container">
            <nav class="pagination">
                <ul>
                    <li><a href="#" class="current-page">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li class="blank">...</li>
                    <li><a href="#">22</a></li>
                </ul>
            </nav>

            <nav class="pagination-next-prev">
                <ul>
                    <li><a href="#" class="prev">قبلی</a></li>
                    <li><a href="#" class="next">بعدی</a></li>
                </ul>
            </nav>
        </div>


        <br>
        <br>


    </div>
    <!-- Container / End -->

{% endblock %}


{% block scripts %}
<script src="{% static "scripts/select2.full.js" %}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        $('.multiselect').select2({tags: true});
    });
</script>
{%  endblock %}
