<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>شریف‌کار - مدیریت درخواست‌ها</title>

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/colors/green.css" id="colors">

<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body>
<div id="wrapper">


<!-- Header
================================================== -->
<header>
<div class="container">
	<div class="sixteen columns">

		<!-- Logo -->
		<div id="logo">
			<h1><a href="index.html"><img src="images/logo.png" alt="شریف‌کار" /></a></h1>
		</div>

		<!-- Menu -->
		<nav id="navigation" class="menu">
			<ul id="responsive">
				<li><a href="employer-home.html">خانه</a></li>
				<li><a href="employer-profile.html">پروفایل</a></li>
				<li><a href="add-job.html">افزودن آگهی</a></li>
				<li><a href="manage-jobs.html">فهرست آگهی‌ها</a></li>
				<li><a href="browse-resumes.html">جست‌وجوی کارجو</a></li>
				<li><a href="employer-change-pass.html">  تغییر گذرواژه <i class="fa fa-key"></i></a> </li>
				<li><a href="index.html">خروج <i class="fa fa-sign-out"></i> </a></li>
			</ul>
		</nav>

		<!-- Navigation -->
		<div id="mobile-navigation">
			<a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> منو</a>
		</div>

	</div>
</div>
</header>
<div class="clearfix"></div>


<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
	<div class="container">

		<div class="sixteen columns">
			<h2>مدیریت درخواست‌ها</h2>
			<nav id="breadcrumbs">
				<ul>
					<li>شما اینجا هستید:</li>
					<li><a href="index.html">خانه</a></li>
					<li class="pi">مدیریت درخواست‌ها</li>
				</ul>
			</nav>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container">

	<!-- Table -->
	<div class="sixteen columns">

		<p class="margin-bottom-25" style="float: right;">
			درخواست‌های استخدام برای
			<strong><a href="job-page.html">مدیر فرآیند</a></strong> در زیر آمده‌اند.</p>
	</div>


	<div class="eight columns">
		<!-- Select -->
		<select data-placeholder="Filter by status" class="chosen-select-no-single">
			<option value="">فیلتر بر اساس وضعیت</option>
			<option value="جدید">جدید</option>
			<option value="مصاحبه شده">مصاحبه شده</option>
			<option value="استخدام شده">استخدام شده</option>
			<option value="آرشیوشده">آرشیو شده</option>
		</select>
		<div class="margin-bottom-15"></div>
	</div>

	<div class="eight columns">
		<!-- Select -->
		<select data-placeholder="جدیدترین" class="chosen-select-no-single">
			<option value="">جدیدترین</option>
			<option value="name">به ترتیب نام</option>
			<option value="rating">به ترتیب امتیاز</option>
		</select>
		<div class="margin-bottom-35"></div>
	</div>


	<!-- Applications -->
	<div class="sixteen columns">

		<!-- Application #1 -->
		<div class="application">
			<div class="app-content">

				<!-- Name / Avatar -->
				<div class="info">
					<img src="images/resumes-list-avatar-01.png" alt="">
					<span><a href="resume-page.html">John Doe</a> </span>
					<ul>
						<li><a href="#"><i class="fa fa-file-text"></i> دانلود رزومه</a></li>
					</ul>
				</div>

				<!-- Buttons -->
				<div class="buttons">
					<a href="#one-1" class="button gray app-link"><i class="fa fa-pencil"></i> ویرایش</a>
					<a href="#two-1" class="button gray app-link"><i class="fa fa-sticky-note"></i> افزودن یادداشت</a>
					<a href="#three-1" class="button gray app-link"><i class="fa fa-plus-circle"></i> نمایش جزئیات</a>
				</div>
				<div class="clearfix"></div>

			</div>

			<!--  Hidden Tabs -->
			<div class="app-tabs">

				<a href="#" class="close-tab button gray"><i class="fa fa-close"></i></a>

				<!-- First Tab -->
			    <div class="app-tab-content" id="one-1">

					<div class="select-grid">
						<select data-placeholder="وضعیت درخواست" class="chosen-select-no-single">
							<option value="">وضعیت درخواست</option>
							<option value="جدید">جدید</option>
							<option value="مصاحبه شده">مصاحبه شده</option>

							<option value="استخدام شده">استخدام شده</option>
							<option value="آرشیوشده">آرشیوشده</option>
						</select>
					</div>

					<div class="select-grid">
						<input type="number" min="1" max="5" placeholder="امتیاز (از ۵)">
					</div>

					<div class="clearfix"></div>
					<a href="#" class="button margin-top-15">ذخیره</a>
					<a href="#" class="button gray margin-top-15 delete-application">حذف این درخواست</a>

			    </div>

			    <!-- Second Tab -->
			    <div class="app-tab-content"  id="two-1">
					<textarea placeholder="یادداشت خصوصی درباره‌ی این درخواست"></textarea>
					<a href="#" class="button margin-top-15">افزودن یادداشت</a>
			    </div>

			    <!-- Third Tab -->
			    <div class="app-tab-content"  id="three-1">
					<i>نام و نام خانوادگی:</i>
					<span>John Doe</span>

					<i>ایمیل:</i>
					<span><a href="mailto:john.doe@example.com">john.doe@example.com</a></span>

					<i>پیام:</i>
					<span>Praesent efficitur dui eget condimentum viverra. Sed non maximus ipsum, non consequat nulla. Vivamus nec convallis nisi, sit amet egestas magna. Quisque vulputate lorem sit amet ornare efficitur. Duis aliquam est elit, sed tincidunt enim commodo sed. Fusce tempus magna id sagittis laoreet. Proin porta luctus ante eu ultrices. Sed porta consectetur purus, rutrum tincidunt magna dictum tempus. </span>
			    </div>

			</div>

			<!-- Footer -->
			<div class="app-footer">

				<div class="rating no-stars">
					<div class="star-rating"></div>
					<div class="star-bg"></div>
				</div>

				<ul>
					<li><i class="fa fa-file-text-o"></i> جدید</li>
					<li><i class="fa fa-calendar"></i> ۱۱ آذر ۱۳۹۷</li>
				</ul>
				<div class="clearfix"></div>

			</div>
		</div>


		<!-- Application #2 -->
		<div class="application">
			<div class="app-content">

				<!-- Name / Avatar -->
				<div class="info">
					<img src="images/avatar-placeholder.png" alt="">
					<span><a href="resume-page.html">Tom Smith</a></span>
					<ul>
						<li><a href="#"><i class="fa fa-file-text"></i> دانلود رزومه</a></li>
					</ul>
				</div>

				<!-- Buttons -->
				<div class="buttons">
					<a href="#one-2" class="button gray app-link"><i class="fa fa-pencil"></i> ویرایش</a>
					<a href="#two-2" class="button gray app-link"><i class="fa fa-sticky-note"></i> افزودن یادداشت</a>
					<a href="#three-2" class="button gray app-link"><i class="fa fa-plus-circle"></i> نمایش جزئیات</a>
				</div>
				<div class="clearfix"></div>

			</div>

			<!--  Hidden Tabs -->
			<div class="app-tabs">

				<a href="#" class="close-tab button gray"><i class="fa fa-close"></i></a>

				<!-- First Tab -->
			    <div class="app-tab-content" id="one-2">

					<div class="select-grid">
						<select data-placeholder="وضعیت درخواست" class="chosen-select-no-single">
							<option value="">وضعیت درخواست</option>
							<option value="جدید">جدید</option>
							<option value="مصاحبه شده">مصاحبه شده</option>
							<option value="offer">Offer extended</option>
							<option value="استخدام شده">استخدام شده</option>
							<option value="آرشیوشده">آرشیوشده</option>
						</select>
					</div>

					<div class="select-grid">
						<input type="number" min="1" max="5" placeholder="امتیاز (از ۵)">
					</div>

					<div class="clearfix"></div>
					<a href="#" class="button margin-top-15">ذخیره</a>
					<a href="#" class="button gray margin-top-15 delete-application">حذف این درخواست</a>

			    </div>

			    <!-- Second Tab -->
			    <div class="app-tab-content"  id="two-2">
					<textarea placeholder="یادداشت خصوصی درباره‌ی این درخواست"></textarea>
					<a href="#" class="button margin-top-15">افزودن یادداشت</a>
			    </div>

			    <!-- Third Tab -->
			    <div class="app-tab-content" id="three-2">
					<i>نام و نام خانوادگی:</i>
					<span>Tom Smith</span>

					<i>ایمیل:</i>
					<span><a href="mailto:tom.smith@example.com">tom.smith@example.com</a></span>

					<i>پیام:</i>
					<span>Morbi non pharetra quam. Pellentesque eget massa dolor. Sed vitae placerat eros, quis aliquet purus. Donec feugiat sapien urna, at sagittis libero pellentesque in. Praesent efficitur dui eget condimentum viverra. Sed non maximus ipsum, non consequat nulla. Vivamus nec convallis nisi, sit amet egestas magna. Quisque vulputate lorem sit amet ornare efficitur. Duis aliquam est elit, sed tincidunt enim commodo sed. Fusce tempus magna id sagittis laoreet. Proin porta luctus ante eu ultrices. Sed porta consectetur purus, rutrum tincidunt magna dictum tempus. </span>
			    </div>

			</div>

			<!-- Footer -->
			<div class="app-footer">

				<div class="rating five-stars">
					<div class="star-rating"></div>
					<div class="star-bg"></div>
				</div>

				<ul>
					<li><i class="fa fa-file-text-o"></i> مصاحبه شده</li>
					<li><i class="fa fa-calendar"></i> ۱۴ آذر ۱۳۹۷</li>
				</ul>
				<div class="clearfix"></div>

			</div>
		</div>


		<!-- Application #3 -->
		<div class="application">
			<div class="app-content">

				<!-- Name / Avatar -->
				<div class="info">
					<img src="images/avatar-placeholder.png" alt="">
					<span><a href="resume-page.html">Kathy Berry</a></span>
					<ul>
						<li><a href="#"><i class="fa fa-file-text"></i> دانلود رزومه</a></li>
					</ul>
				</div>

				<!-- Buttons -->
				<div class="buttons">
					<a href="#one-3" class="button gray app-link"><i class="fa fa-pencil"></i> ویرایش</a>
					<a href="#two-3" class="button gray app-link"><i class="fa fa-sticky-note"></i> افزودن یادداشت</a>
					<a href="#three-3" class="button gray app-link"><i class="fa fa-plus-circle"></i> نمایش جزئیات</a>
				</div>
				<div class="clearfix"></div>

			</div>

			<!--  Hidden Tabs -->
			<div class="app-tabs">

				<a href="#" class="close-tab button gray"><i class="fa fa-close"></i></a>

				<!-- First Tab -->
			    <div class="app-tab-content" id="one-3">

					<div class="select-grid">
						<select data-placeholder="وضعیت درخواست" class="chosen-select-no-single">
							<option value="">وضعیت درخواست</option>
							<option value="جدید">جدید</option>
							<option value="مصاحبه شده">مصاحبه شده</option>
							<option value="offer">Offer extended</option>
							<option value="استخدام شده">استخدام شده</option>
							<option value="آرشیوشده">آرشیوشده</option>
						</select>
					</div>

					<div class="select-grid">
						<input type="number" min="1" max="5" placeholder="امتیاز (از ۵)">
					</div>

					<div class="clearfix"></div>
					<a href="#" class="button margin-top-15">ذخیره</a>
					<a href="#" class="button gray margin-top-15 delete-application">حذف این درخواست</a>

			    </div>

			    <!-- Second Tab -->
			    <div class="app-tab-content"  id="two-3">
					<textarea placeholder="یادداشت خصوصی درباره‌ی این درخواست"></textarea>
					<a href="#" class="button margin-top-15">افزودن یادداشت</a>
			    </div>

			    <!-- Third Tab -->
			    <div class="app-tab-content"  id="three-3">
					<i>نام و نام خانوادگی:</i>
					<span>Kathy Berry</span>

					<i>ایمیل:</i>
					<span><a href="mailto:kathy.berry@example.com">kathy.berry@example.com</a></span>
			    </div>

			</div>

			<!-- Footer -->
			<div class="app-footer">

				<div class="rating four-stars">
					<div class="star-rating"></div>
					<div class="star-bg"></div>
				</div>

				<ul>
					<li><i class="fa fa-file-text-o"></i> مصاحبه شده</li>
					<li><i class="fa fa-calendar"></i> ۴ دی ۱۳۹۷</li>
				</ul>
				<div class="clearfix"></div>

			</div>
		</div>


	</div>
</div>


<!-- Footer
================================================== -->
<div class="margin-top-60"></div>


<div id="footer">
	<!-- Bottom -->
	<div class="container">
		<div class="footer-bottom">
			<div class="sixteen columns">
				<div class="copyrights">  کلیه‌ی حقوق این سایت متعلق به سامانه‌ی <a href="#">شریف‌کار </a>است. © ۱۳۹۷  </div>
			</div>
		</div>
	</div>

</div>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script src="scripts/jquery-2.1.3.min.js"></script>
<script src="scripts/custom.js"></script>
<script src="scripts/jquery.superfish.js"></script>
<script src="scripts/jquery.themepunch.tools.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/chosen.jquery.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/stacktable.js"></script>


</body>
</html>