<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<!-- Basic Page Needs
================================================== -->
<meta charset="utf-8">
<title>شریف‌کار - کارجو</title>

<!-- Mobile Specific Metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/colors/green.css" id="colors">


<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<body>
<div id="wrapper">


<!-- Header
================================================== -->
<header>
<div class="container">
	<div class="sixteen columns">

		<!-- Logo -->
		<div id="logo">
			<h1><a href="index.html"><img src="images/logo.png" alt="شریف‌کار" /></a></h1>
		</div>

		<!-- Menu -->
		<nav id="navigation" class="menu">
			<ul id="responsive">

				<li><a href="index.html">خانه</a>
				</li>

				<li><a href="my-account-employer.html">برای کارفرمایان</a>
				</li>

				<li><a href="#">برای کارجوها</a>
				</li>
			</ul>

		</nav>

		<!-- Navigation -->
		<div id="mobile-navigation">
			<a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> منو</a>
		</div>

	</div>
</div>
</header>
<div class="clearfix"></div>


<!-- Titlebar
================================================== -->
<div id="titlebar" class="single">
	<div class="container">

		<div class="sixteen columns">
			<h2>حساب کاربری کارجو</h2>
			<nav id="breadcrumbs">
				<ul>
					<li>شما اینجا هستید:</li>
					<li><a href="index.html">خانه</a></li>
					<li class="pi">حساب کاربری کارجو</li>
				</ul>
			</nav>
		</div>

	</div>
</div>


<!-- Content
================================================== -->

<!-- Container -->
<div class="container">

	<div class="my-account">

		<ul class="tabs-nav">
			<li class=""><a href="#tab1"><i class="fa fa-lock"></i> ورود</a></li>
			<li><a href="#tab2"><i class="fa fa-user"></i> ثبت‌نام</a></li>
		</ul>

		<div class="tabs-container">
			<!-- Login -->
			<div class="tab-content" id="tab1" style="display: none;">

				<h3 class="margin-bottom-10 margin-top-10">ورود</h3>

				<form method="post" class="login" action="job-seeker-home.html">

					
					<p class="form-row form-row-wide">
						<label for="username">ایمیل:</label>
						<input dir= "ltr" type="email" class="input-text" name="username" id="username" value="" />
					</p>

					<p class="form-row form-row-wide">
						<label for="password">گذرواژه:</label>
						<input dir= "ltr" class="input-text" type="password" name="password" id="password" />
					</p>

					<p class="form-row">
						<input type="submit" class="button" name="login" value="ورود" />

						<label for="rememberme" class="rememberme">
						<input name="rememberme" type="checkbox" id="rememberme" value="forever" /> مرا به‌خاطر بسپار</label>
					</p>

					<p class="lost_password">
						<a href="my-account-job-seeker-forget-pass.html" >فراموشی رمز عبور</a>
					</p>

					
				</form>
			</div>

				<!-- Register -->
				<div class="tab-content" id="tab2" style="display: none;">

					<h3 class="margin-bottom-10 margin-top-10">ثبت‌نام</h3>

					<form method="post" class="register" action="job-seeker-home.html">
						<p class="form-row form-row-wide">
							<label for="reg_name">نام:</label>
							<input type="text" class="input-text" name="email" id="reg_name" value="" placeholder="نام" />
						</p>

						<p class="form-row form-row-wide">
							<label for="reg_last_name">نام خانوادگی:</label>
							<input type="text" class="input-text" name="email" id="reg_last_name" value="" placeholder="نام خانوادگی" />
						</p>

						<p class="form-row form-row-wide">
							<label for="reg_gender">جنسیت:</label>
							<select class="form-control" id="reg_gender">
								<option>مرد</option>
								<option>زن</option>
							</select>
						</p>

						<p class="form-row form-row-wide">
							<label for="reg_education">آخرین مقطع تحصیلی:</label>
							<select class="form-control" id="reg_education" >
								<option>کارشناسی</option>
								<option>کارشناسی ارشد</option>
								<option>دکترا</option>
							</select>
						</p>

						<p class="form-row form-row-wide">
							<label for="reg_entrance_year">سال ورود به دانشگاه:</label>
							<select id="reg_entrance_year" style="width:100%;" class="form-control selectWidth">
								<option>1397</option>
								<option>1396</option>
								<option>1395</option>
								<option>1394</option>
								<option>1393</option>
								<option>1392</option>
								<option>1391</option>
								<option>1390</option>
								<option>1389</option>
								<option>1388</option>
							</select>
						</p>

						<p class="form-row form-row-wide">
							<label for="reg_email">ایمیل با دامنه‌ی شریف:</label>
							<input dir= "ltr"  type="email" class="input-text" name="email" id="reg_email" value="" placeholder="[username]@[depeartment].sharif.edu" />
						</p>

						
						<p class="form-row form-row-wide">
							<label for="reg_password">گذرواژه:</label>
							<input dir= "ltr" type="password" class="input-text" name="password" id="reg_password"/>
						</p>

						<p class="form-row form-row-wide">
							<label for="reg_password2">تکرار گذرواژه:</label>
							<input dir= "ltr" type="password" class="input-text" name="password" id="reg_password2" />
						</p>



									
						<p class="form-row">
							<input type="submit" class="button" name="register" value="ثبت‌نام" />
						</p>
						
					</form>
				</div>
		</div>
	</div>
</div>



<!-- Footer
================================================== -->
<div class="margin-top-30"></div>

<div id="footer">
	<!-- Bottom -->
	<div class="container">
		<div class="footer-bottom">
			<div class="sixteen columns">
				<div class="copyrights">  کلیه‌ی حقوق این سایت متعلق به سامانه‌ی <a href="#">شریف‌کار </a>است. © ۱۳۹۷  </div>
			</div>
		</div>
	</div>

</div>

<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->


<!-- Scripts
================================================== -->
<script src="scripts/jquery-2.1.3.min.js"></script>
<script src="scripts/custom.js"></script>
<script src="scripts/jquery.superfish.js"></script>
<script src="scripts/jquery.themepunch.tools.min.js"></script>
<script src="scripts/jquery.themepunch.revolution.min.js"></script>
<script src="scripts/jquery.themepunch.showbizpro.min.js"></script>
<script src="scripts/jquery.flexslider-min.js"></script>
<script src="scripts/chosen.jquery.min.js"></script>
<script src="scripts/jquery.magnific-popup.min.js"></script>
<script src="scripts/waypoints.min.js"></script>
<script src="scripts/jquery.counterup.min.js"></script>
<script src="scripts/jquery.jpanelmenu.js"></script>
<script src="scripts/stacktable.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>

</body>
</html>